.choose-between-root-correct {
  background-color: #C6EFCE !important;
}

.choose-between-selected-correct {
  background-color: #C6EFCE !important;
  border-color: #006100 !important;
  border-width: 2px !important;
}

.choose-between-selected-incorrect {
  background-color: #FFC7CE !important;
  border-color: #9C0006 !important;
  border-width: 2px !important;
}
