.fill-blank-item-correct {
  background-color: #C6EFCE;
}

.fill-blank-item-incorrect {
  background-color: #FFC7CE;
}

.fill-blank-item-tooltip-on-hover:hover {
  text-decoration: underline;
  color: #00e;
}

.fill-blank-black-text {
  color: #000;
}