.multiple-choice-label {
  font-size: 18px;
  color: #000;
}

.multiple-choice-label-checked-correct {
  color: #006100 !important;
  font-weight: bold;
}

.multiple-choice-label-unchecked-correct {
  color: #006100 !important;
  font-weight: bold;
}

.multiple-choice-label-checked-incorrect {
  color: #9C0006 !important;
  font-weight: bold;
}
